<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plurk App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jsOAuth-1.3.7.js"></script>
	<script type="text/javascript" src="js/jquery.tmpl.js"></script>
</head>

<body>
<div class="container" id="root">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">噗浪瀏覽器</a>
                            <a class="navbar-brand" href="#" id="btn-refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                            <a class="navbar-brand" href="#" id="btn-logout"><span class="glyphicon glyphicon-log-out"></span></a>
                            <a class="navbar-brand" href="#" id="btn-markasread">已讀</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">過濾器<strong class="caret"></strong></a>
                                                <ul class="dropdown-menu" id="filter-ul">
                                                <li>
                                                <a href="#" id="filter-only-unread" data-set="0"><span class="glyphicon glyphicon-ok hidden"></span> 只顯示未讀的噗</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                <a href="#all" class="filter"><span class="glyphicon glyphicon-ok"></span> 顯示所有噗 <span class="unread" id="all-unread"> (0) </span></a>
                                                </li>
                                                <li>
                                                <a href="#mine" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示我的噗 <span class="unread" id="mime-unread"> (0) </span></a>
                                                </li>
                                                <li>
                                                <a href="#private" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示私噗 <span class="unread" id="private-unread"> (0) </span></a>
                                                </li>
                                                <li>
                                                <a href="#responded" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示回應過的噗 <span class="unread" id="responded-unread"> (0) </span></a>
                                                </li>
                                                <li>
                                                <a href="#favorite" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示按讚或轉噗 <span class="unread" id="favorite-unread"> (0) </span></a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                <a href="#friends" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示好友噗</a>
                                                </li>

                                                <script type="text/html" id="filter-clique">
                                                <li class="clique-item">
                                                <a href="#clique-${id}" class="filter"><span class="glyphicon glyphicon-ok hidden"></span> 顯示小圈圈: ${name}</a>
                                                </li>
                                                </script>
                                                </ul>
                                                </li>
					</ul>
                        </div>
			</nav>
		</div>
	</div>
	<div class="row clearfix" id="timeline">
	</div>
        <div class="row clearfix">
        <div class="col-md-12 column">
        <div class="alert alert-info" id="no-more" style="display: none">沒有符合條件的噗</div>
        <div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
        </div>
        </div>
        </div>
        </div>
        <div class="navbar navbar-default navbar-fixed-bottom" style="background-color: #FCF8E3; border-color: #FAEBCC; color: #C09853;">
        <div class="container" id="post-new-panel">
        <script type="text/html" id="panel-profile">
        <img src="${avatar}" class="img-rounded"> <h4 style="display: inline"> ${display_name} </h4>
        </script>
        <form id="post-new-form" class="form-inline" role="form" style="display: inline-block">
        <div class="form-group">
        <input type="text" class="form-control" id="post-new-text" placeholder="我要發噗..." size="60">
        </div> <label><input type="checkbox" name="private" id="post-private">私噗</label> <button type="submit" class="btn btn-primary">發送</button>
        </form>
        </div>
        </div>
</div>
<script id="new-plurk" type="text/html">
<div class="alert alert-info" id="new-plurk-content" style="cursor: pointer;">有新噗 ${all} 則，按這裡更新</div>
</script>
<script id="post" type="text/html">
<div class="col-md-12 column">
<div class="post-container panel {{if 1 == is_owner}} panel-success {{/if}} {{if 1 == is_friend}} panel-info {{/if}} {{if 1 == is_fan}} panel-default {{/if}}"
data-plurkid="${plurk_id}" data-unread="${is_unread}" data-favorite="${favorite}" data-replurked="${replurked}" data-owner="${owner_id}">
<div class="post-header panel-heading media">
<div class="post-avatar pull-left">
<img src="${avatar}" class="img-rounded">
</div>
<div class="post-owner media-body">
<h4 class="media-heading">
${display_name}
</h4>
<div class="post-time">
<span class="glyphicon glyphicon-lock{{if 0 == private_plurk}} hide{{/if}}"></span> <span class="glyphicon glyphicon-heart{{if 0 == favorite}} hide{{/if}}"></span> ${posted}
</div>
</div>
<div style="clear: both">
</div>
</div>
<div class="panel-body">
<div class="post-content" style="cursor: pointer;">
{{html content}}
</div>
<br>
<div style="display:none" class="post-reply-div">
<div class="pull-right"><span class="glyphicon glyphicon-remove post-reply-hide"></span></div>
<div style="overflow-y: auto; max-height: 300px;">
<table class="table table-striped table-bordered post-reply">
</table>
</div>
</div>
<div class="container">
<form role="form" class="reply-form form-inline">
<div class="form-group">
<input type="text" class="form-control input-sm reply-new-text" placeholder="我要回覆..." size="100">
</div> <button type="submit" class="btn btn-primary btn-sm">發送</button>
</form>
</div>
</div>
<div class="panel-footer">
<span><a href="#" class="post-btn-mute">{{if 2 == is_unread}}回音{{else}}消音{{/if}}</a></span> |
<span{{if 1 == is_unread}} style="font-weight: bold"{{/if}}><a href="#" class="post-btn-reply">回應</a> (${response_count})</span> |
<span><a href="#" class="post-btn-favorite">{{if 1 == favorite}}收回讚{{else}}讚{{/if}}</a> (${favorite_count}) </span>
{{if 1 == replurkable}}| <span> <a href="#" class="post-btn-replurk"> {{if 1 == replurked}} 收回轉噗 {{else}} 轉噗 {{/if}}</a> (${replurkers_count}){{/if}} </span>
{{if 1 == is_owner}}| <span> <a href="#" class="post-btn-delete"> 刪除</a> </span>{{/if}}
</div>
</div>
</div>
</script>
<script id="reply" type="text/html">
<tr class="reply-row {{if 1 == is_owner}}success{{/if}}">
<td class="reply-content"><p><span class="reply-displayname" style="font-weight: bold"> ${display_name} </span> <span class="reply-text"> {{html content}} </span></p></td>
</tr>
</script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
